extends layout

block body
	.jumbotron
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/list","active") Document list
			+nav_item("/search") Search
		.container
			h1= title
			p| Welcome to #{title}. 
	.container
		-var newCount = count + 20
		h4 displaying #{count} to #{newCount} of #{resultAmount} results
		+panel-info("Results")
			+list-group-custom()
				each doc in results
					+list-group-item("/view?path=" + doc +"&tei=false")
						h5.list-group-item-heading View document #{doc} 
			+a-btn-primary("/list" + "?count=" + newCount) Next 
