extends layout

block body
	.jumbotron
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/search","active") Search
			+nav_item("/statistics") statistics
		.container
			h1= title
			p| Welcome to #{title}. 
		.container
			form(action="/results",method="get")
				+input("text","searchString","Search","Search-box",type="text")
				+input("text","searchString","Attribute/s","Attributes",type="xPath")
				+submit-primary("Search")
			br
	if failed == "true" || docPaths[0] == ""
		.container
			h4 Your search of #{searchString} #{xPath} failed to return any results
	else
		.container
			h4 Your search of "#{searchString}" with the attributes #{xPath} returned the following results
			-var newCount = count + 10
			- for(var x = 0; x < query.length; x++)
				- var finalSlashIndex = docPaths[x].lastIndexOf('/')
				- var docName = docPaths[x].substring(finalSlashIndex+1,docPaths[x].length)
				+panel-info(docName)
					a(href = "/view?path=" + docPaths[x] + "&tei=true") View entire document with tags
					br
					br
					p #{query[x]}
					br
					a(href = "/view?path=" + docPaths[x] + "&tei=false") View entire document without tags
					p!= query[x]
			+a-btn-primary("/results?text=" + searchString + "&xPath=" + xPath + "&count=" + newCount) Next       
