extends layout

block  body
	.jumbotron
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/list") Document list
			+nav_item("/search","active") Search
		.container
			h1= title
			p| Welcome to #{title}. 
		.container
			h3 find all documents that contain specified text
			h4 HINTS
			ul 
				li The following logical operators are available for use - +and, +or
				li Make sure the text you are searching for is in quotes 'Wellington'
				li A valid example search would be - 'Wellington' +and 'William'
			form(action="/stringResults",method="get")
				+input("text","searchString","Search","Search-box",type="text")
				+submit-primary("Search")
	.container
		h3 There are #{resultCount} documents that contain '!{searchString}'
		+list-group-custom()
			each doc in results
				+list-group-item("/view?path=" + doc +"&tei=false")
					h5.list-group-item-heading View document #{doc}
		